# Python
__pycache__/
*.py[cod]
*$py.class

# Secrets
.env.*

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 

# Staticfiles
staticfiles/

# Production Stuff - Files which are on prod server that I don't want tracked
deploy.sh